AIRPLANES_URL=https://api.airplanes.live/v2/point/{lat}/{lon}/{radius}
AIRPLANES_LAT=-1.8
AIRPLANES_LON=-78.2
AIRPLANES_RADIUS_NM=250
AIRPLANES_LAT2=-5.5
AIRPLANES_LON2=-78.5
AIRPLANES_RADIUS_NM2=200
OPENSKY_INTERVAL_SEC=15
OPENSKY_REQUEST_TIMEOUT_SEC=12
OPENSKY_DATA_FILE=/home/robiotec/SVI/opensky/opensky_data.json
OPENSKY_LOG_FILE=/home/robiotec/SVI/servicios/logs/opensky.log
