ARCOM_LAYER_URL=https://geovisorm.controlrecursosyenergia.gob.ec/arcgis/rest/services/Concesiones/CatastroMineroNacional_PSAD56/MapServer/0
ARCOM_OUT_DIR=/home/robiotec/SVI/arcom
ARCOM_LAYER_NAME=catastro_minero
ARCOM_BATCH_SIZE=500
ARCOM_MAX_RETRIES=5
ARCOM_SLEEP_SECONDS=0.4
ARCOM_REQUEST_TIMEOUT_SEC=180
ARCOM_LOG_FILE=/home/robiotec/SVI/servicios/logs/arcom_update.log
