OBJETIVOS_DIR=/home/robiotec/SVI/objetivos
OBJETIVO_ID=DRONE
OBJETIVO_API_URL=http://127.0.0.1:8004/objetivo/DRONE/
OBJETIVO_POLL_INTERVAL_SEC=1.0
OBJETIVO_HTTP_TIMEOUT_SEC=5.0
OBJETIVOS_LOG_FILE=/home/robiotec/SVI/servicios/logs/objetivos.log
